.outer {
    display: grid;
    grid-template-rows: row row;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  #img1,
  #img2,
  #img3,
  #img4,
  #img5,
  #img6 {
    max-width: 200px;
    max-height: 200px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button button {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .button button:hover {
    color: yellow;
  }